.btn_question, .btn_question:active {
    transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.btn_question {
    padding: 15px;
    width: 150px;
    float: left;
    border-radius: 2px 2px 5px 5px;
    border: none;
    cursor: pointer;
    margin: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    background: #1FAAFF;
    color: #fff;
    box-shadow: 0 6px #3C617F;
    padding: 25px 15px;
}
.btn_question:hover {
    box-shadow: 0 4px #3C617F;
    top: 2px;
}
._1 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
._2 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
._3 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
._4 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
._5 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
._6 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
._7 {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
._8 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
._9 {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
._10 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
